.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: red;
    text-align: center;
    opacity: 1;
}
#indikator{
    background: #007bff;
    opacity: 0.5;
}
#indikator:hover{
    background: #007bff;
    opacity: 1;
}
#control{
    border-radius: 100%;
    padding: 10px 6px 10px 6px;
    color: white;
}

.tempat_promo{
    width:1900px;
}
@keyframes slideranimation{
    0%{
        left: 0px;
    }
    20%{
        left: -300px;
    }
    30%{
        left: -300px;
    }
    50%{
        left: 0;
    }
    70%{
        left:-300px;
    }
    90%{
        left:0;
    }

}
.promo{
    margin-right:-30px;
    animation-name: slideranimation;
    animation-duration:10s;
    animation-iteration-count: infinite;
}

.ukuran{
    width: 222px;
    height: 362px;
}
.hgawal{
    text-decoration: line-through;
    color: #dbdbdb;
    float: left;
}
.hgdiskon{
    font-weight: 600;
}
.diskon{
    font-weight: 100;
    padding: 2px;
    margin-left: 10px;
    font-size: 12px;
}
.off{
    display: none;
}
.on{
    display: block;
}
.beli{
    text-align: center;
    margin-top: 5px;
    display: none;
}

.card:hover .beli{
    display: block;
    transition: .4s all;
}
.card:hover .ol{
    display: none;
}
.card:hover .rate{
    display: none;
}

.jumlah{
    font-size: 10px;
}
.populer{
    margin: 0;
    padding: 0;
    margin-left: -20px;
}
.populer li{
    list-style: none;
    padding: 5px;
}
.populer li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.populer li a:hover{
    border-left: 1px solid #006df0;
}
.tempat_promo2{
    width: 1300px;
    bottom: 0;
}
.promo2{
    margin-right:30px;
    animation-name: slideranimation2;
    animation-duration:50s;
    animation-iteration-count: infinite;
}
@keyframes slideranimation2{
    0%{
        left: 0px;
    }
    5%{
        left: -390px;
    }
    10%{
        left: -390px;
    }
    30%{
        left: 0;
    }
    40%{
        left:-390px;
    }
    50%{
        left:0;
    }

}

.hot_produk{
    margin-left: 100px;
}
.hari{
    float: right;
}
.waktu{
    float: right;
}
.moreitem{
    margin-left:70%;
}
.provile{
  background: #0075f2;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -20px;
  border-radius: 50%;
  padding-left: 9px;
  padding-top: 3px;
  color: white;
}
.provile2{
  background: #0075f2;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -20px;
  border-radius: 50%;
  padding-left: 11px;
  padding-top: 3px;
  color: white;
}




.border{
  text-align: center;
}
.osanan{
  margin-left: 100px;margin-top: 0
}
.p_atas{
  margin-left: 100px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: grey;
  font-size: 14px;
}
 * {
      box-sizing: border-box;
  }

  body {
      margin: 0;
  }

  .navb {
      overflow: hidden;
      font-family: Arial, Helvetica, sans-serif;
  }

  .navb a {
      float: left;
      font-size: 16px;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  .dropdowna {
      float: left;
      overflow: hidden;
  }

  .dropdowna .dropbtna {
      padding-top: 25px;
      padding-bottom: 30px;
      padding-left: 20px;
      font-size: 15px; 
      font-weight: bold;   
      border: none;
      outline: none;
      color: black;
      background-color: inherit;
      margin: 0;
  }

  .navb a:hover, .dropdowna:hover .dropbtna {
      color: blue;
  }

  .dropdowna-contenta {
      display: none;
      position: absolute;
      background-color: white;
      width: 100%;
      left: 0;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 10;
      border-top: 2px solid blue;
  }

  .dropdowna:hover .dropdowna-contenta {
      display: block;
  }

  /* Create three equal columns that floats next to each other */
  
  .mega a {
      float: none;
      margin: 0;
      padding-top: 10px;
      color: grey;
      text-decoration: none;
      display: block;
      text-align: left;
      font-size: 12px;
  }

  .columna a:hover {
      background-color: #ddd;
  }

  /* Clear floats after the columns */
  .rowa:after {
      content: "";
      display: table;
      clear: both;
  }
.grsbts{
  padding-bottom: 6px;
  padding-left: 15px;
  padding-top: 6px
}
.panah{
  width: 10px;
}
.dropdownb-contentb {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-top: 2px solid blue;
}
.dropdownb-contentb a{
  float: none;
  margin: 0;
  margin-top: -30px;
  color: grey;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
}

.dropdowna:hover .dropdownb-contentb {
    display: block;
}
.dropdownb-contentc {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-top: 2px solid blue;
}
.dropdownb-contentc a{
  float: none;
  margin: 0;
  margin-top: -30px;
  color: grey;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
}

.dropdowna:hover .dropdownb-contentc {
    display: block;
}
.ikonkorea{
  width: 40px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
#gradasi{
  background:#0F466E;
  background:-webkit-linear-gradient(right,#0F466E 0%,#007afc 75%);
  background:-moz-linear-gradient(right,#0F466E 0%,#5093C4 75%);
  background:-o-linear-gradient(right,#0F466E 0%,#79bbeb 75%);
  background:-ms-linear-gradient(right,#0F466E 0%,#005fc4 75%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007afc',endColorstr='#005fc4',GradientType=1);
  height:35px;
  width: 90px;
  border-radius: 5px;
  border:none;
  margin-top: 23px;
  margin-left: 5px;
  border-left: 0.2px solid #005ec2;
  color: white;
}
.biru{
  margin-bottom: 20px;
  color: white;
  line-height:1.8;
  font-size: 13px;
  font-weight: 600;
}
.biru a{
  color: white;
}
.daftar{
  margin-bottom: 0;
  line-height: 2;
}
.tanggal{
  font-size: 12px;
  line-height: 1;
  margin-top: 0;
  margin-left: 10px;
}
.menu-bawah a{
  color: #696969;
  font-size: 14px;
}
.menu-bawah p{
  margin-top: 0;
  margin-bottom: 0;
}
.copyright{
  font-size: 10px;
  color: #A9A9A9;
  font-weight: 600;
}
.app{
  font-weight: bold;
  font-size: 13px;
  margin-top: 30px;
}
.bulat{
  border-radius: 50%;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 10px;
  padding-left: 11px;
  text-align: center;
  margin-right: 3px;
  color: #0075f2;
}
.bulat:hover {
  background: #0075f2;
  color: white;
}


.tphp{
    background:#f5f8fc;
    padding-top: 40px;
    padding-bottom: 40px;
}
.checked {
    color: orange;
}




/*responsive*/
@media(max-width: 1024px){
.moreitem{
    margin-top: -50px;
}
.hot_produk{
    margin-left: 70px;
}
}

@media (max-width: 768px) {
.carousel-inner img{
    width: 100%;
}
.ukuran{
    width: 208px;
    height: 332px;
}
.men{
    padding-left: -20px;
}
.hot_produk{
    margin-left: 120px;
}
.hp4{
    display: none;
}
.navb a{
    margin-left: 0;
}
}

@media(max-width: 425px){
.promo{
    margin-left: 40px;
    animation-name: dwdw;
}
.promo2{
    animation-name: dwd;
}
.ukuran{
    width: 322px;
    height: 462px;
}
.hot_produk{
    margin-left: 0px;
    clear: left;
}
.waktu{
    
}
.hp{
    font-size: 16px;
}
.p_atas{
  margin-left: 0px;
}
.gf{
    clear: left;
}
.navb .dropdowna{
    margin-top: 0;
}
}

@media(max-width: 375px){
.promo{
    margin-left: 0px;
}
.hot_produk{
    margin-left: -20px;
}
.hot_produk_plus{
    margin-left: -20px;
}
.moreitem{
    margin-left:10%;
    margin-top: -5px;
}

}

@media(max-width: 320px){
.ukuran{
    width: 300px;
    margin-left: -13px;
}
.ekstra{
    margin-left: 24px;
}
#gradasi{
}
}